<%= link_to about_index_path do %>
  <div class="row">
    <div class="col s6">
        <h1 class="brand-logo left">Caitlin Ashtari</h1><br>
    </div>
    <div class="col s6">
      <%= image_tag "caitlin.jpg", id: "caitlin" %>
    </div>
  </div>
<% end %>

<%= link_to projects_path do %>
  <div class="row">
    <div class="col s6 ">
      <%= image_tag "flower.jpg", id: "flower" %>
    </div>
    <div class="col s6">
      <h1 class="left brand-logo">Projects</h1>
    </div>
  </div>
<% end %>

<%= link_to contact_index_path do %>
  <div class="row">
    <div class="col s6 ">
      <h1 class="left brand-logo">Contact</h1>
    </div>
    <div class="col s6">
      <%= image_tag "wire.jpg", id: "wire" %>
    </div>
  </div>
<% end %>
