<!DOCTYPE html>
<html>
  <head>
    <title>Caitlin Ashtari</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

  </head>

  <body>


      <div>
        <div class="notice">
          <%= flash[:notice] %>
        </div>
        <div class="alert">
          <%= flash[:alert] %>
        </div>
        <%= yield %>
      </div>

      <div class="row footer-row center">
        <div class="col s12">
          <footer class="footer">
              <div class="container grey-text text-lighten-1">
                <%= link_to "Home", root_path %> |
                <% if user_signed_in? %>
                  <%= link_to 'Edit Profile', edit_user_registration_path %> |
                  <%= link_to 'Logout', destroy_user_session_path, method: :delete %> |
                  <% if current_user.admin %>
                    <%= link_to "Admin", rails_admin_path %>
                  <% end %>
                  <% else %>
                  <%= link_to "Login", new_user_session_path %>
                <% end %>
                <p>© 2017 Copyright Caitlin Ashtari</p>
            </div>
          </footer>
        </div>
      </div>

    </body>
  </html>
