<!DOCTYPE html>
<html>
  <head>
    <title>Caitlin Ashtari</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

  </head>

  <body>


      <div>
        <div class="notice">
          <%= flash[:notice] %>
        </div>
        <div class="alert">
          <%= flash[:alert] %>
        </div>
        <%= yield %>
      </div>

      <div class="row footer-row">
        <%= link_to "Home", root_path %>
        <div class="col s12">
          <footer class="footer">
            <div class="footer-copyright">
              <div class="container left grey-text text-lighten-1">
                <p><%= link_to "Login", new_user_session_path %></p>
                <% if user_signed_in? %>
                  <p><%= link_to 'Edit Profile', edit_user_registration_path %></p>
                  <p><%= link_to 'Logout', destroy_user_session_path, method: :delete %></p>
                  <% if current_user.admin %>
                    <p><%= link_to "Admin", rails_admin_path %></p>
                  <% end %>
                <% end %>
                <p>© 2017 Copyright Caitlin Ashtari</p>
              </div>
            </div>
          </footer>
        </div>
      </div>

    </body>
  </html>
